body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: whitesmoke;
  }


nav.navbar {
    background-color: #9F4B74;
    font-family:'Times New Roman', Times, serif;
}

h6{
  color: whitesmoke;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: rgb(19, 107, 41);
    border-color: rgb(19, 107, 41);
}

.title-inf{
  background-color: gray;
  text-align:center;
}

#contenedor{
  background-color: whitesmoke;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-group {
  margin-right: 1rem;
}
#menten-producto{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}
#inventario{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}
#precios{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}
#imagenes{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}
#videos{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}


#label-title{
  color: gray;
}